/* Conocenos */
div {
    &.conocenos {
        color: $colorText;

    }
}
@media (max-width: 578px) { 
    a.text-white    {
    font-size: $h2mobile;
   }
}
@media (max-width: 578px) {
    h2.animate__animated.animate__backInLeft {
        @include h2EspaciadoMobile;
        
    }
}
@media (min-width: 579px) {
    h2 {
        &.animate__animated.animate__backInLeft {
            @include h2EspaciadoDesktop;
        }
    }
}
img.img-fluid.pr-0.imgConocenos {
    border-radius: 150px;
}
@media (min-width: 992px) {
    .sectionConocenos { margin-top: 30px;
}
}
@media (min-width: 1400px) {
    .conocenos {
        padding-left: 20px;
        padding-right: 20px;
    }
}