/* CSS general */
div {
    &.prubecolor {  
    background-color: $colorPrincipal; 
   } 
 }

div {
    &.pruebacolor { 
    background-image: url(../img/Breve-Historia-Construcción.jpg);
    background-size: cover;
    width: 100vw;
    }
}       
@mixin h2EspaciadoMobile {
    margin: 10px 0px;
    
}
@mixin h2EspaciadoDesktop {
    margin: 25px 0px;
}

@media (min-width: 1200px) {
    a {
        &.nav-link {
            font-size: 25px;
        }
        &.navbar-brand {
            font-size: 35px;
        }
    }
}
a {
    &.navbar-brand {
        font-family: 'oswald' , sans-serif;
    }
}
h1 {
    &.animate__animated {
        font-family: "poppins" , sans-serif;
    }
}

/* .videoParques {
    padding-left: 20px !important;
} */