/* CSS general */
div {
    &.prubecolor {  
    background-color: $colorPrincipal; 
   } 
 }

div {
    &.pruebacolor { 
    background-image: url(../img/Breve-Historia-Construcción.jpg);
    background-size: cover;
    width: 100vw;
    }
}       
@mixin h2EspaciadoMobile {
    margin: 10px 0px;
    
}
@mixin h2EspaciadoDesktop {
    margin: 15px 0px;
}