/* parques */
h2.animate__animated.animate__backInLeft.mt-3.mb-3 a{
    text-decoration: none;
    color: $colorPrincipal;
}
section {
    &.gridparques {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
    }
}
div {
    &.footerrcolor {
    background-color: $colorPrincipal;
}
}
/* @media (min-whidth: 1400px) {
    .imgParquesDesktop {
        display: flex;
        flex-direction: row;
     }
} */